body {
    /* background-color: #16161A; */
    background-color: #121212;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Manrope", Helvetica, sans-serif;
    user-select: none;
    line-height: 28px;
    height: fit-content;
}

p {
    line-height: 28px;
}

#grid {
    width: 790px;
    /* background-color: red; */
    margin: 0 auto;
}


/* Псевдоэлемент для кислотного абстрактного фона */
.abstBack {
    background: linear-gradient(45deg, #ff00ff, #00ff00, #00ffff, #ff0000);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: acidColor 6s infinite linear;
}

/* Анимация градиента */
@keyframes acidColor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
}

