body {
    /* background-color: #16161A; */
    background-color: #121212;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Manrope", Helvetica, sans-serif;
    user-select: none;
    height: fit-content;
}

#grid {
    width: 1128px;
    /* background-color: red; */
    margin: 0 auto;
}

#header {
    width: 1128px;
    height: 70px;
    /* background-color: rgba(255, 255, 255, 0.204); */
    position: fixed;
    left: 50%;
    top: 45px;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: center;
    z-index: 10;
    backdrop-filter: blur(10px);
    font-weight: 600;
}

.headerBlock {
    width: 100px;
    height: 40px;
    display: inline-block;
    background-color: #b2b8ff00;
    line-height: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 10px;
    color: white;
}

.headerBlock:hover {
    background-color: #b2b8ff97;
    color: #BCFF78;
}

#logoBlock {
    width: 743px;
    height: 294px;
    /* background-color: rgb(0, 225, 255); */
    margin: auto;
    position: relative;
    top: 190px;

}

#logoImg {
    width: 294px;
    height: 294px;
    /* background-color: rgb(0, 255, 42); */
    left: 0px;
}

#logoTextHeader {
    width: 388px;
    height: 294px;
    /* background-color: rgb(149, 0, 255); */
    float: right;
}

#name {
    font-size: 60px;
    font-weight: 800;
    color: #BCFF78;
    text-transform: uppercase;
    line-height: 1.1;
}

#role {
    font-size: 42px;
    color: white;
    margin-top: 0px;
    font-weight: 500;
}

#experience {
    font-size: 20px;
    color: rgb(169, 169, 169);
    margin-top: 15px;
    font-weight: 500;
    width: 100%;
}

#place {
    font-size: 20px;
    color: rgb(169, 169, 169);
}


#backgroundAbout {
    /* width: 10000000px; */
    width: 100%;
    height: 379px;
    margin-top: 279px;
    /* position: relative; */
    /* left: -100000px; */
}

.backgroundAboutFake {
    width: 100vw;
    position: absolute;
    height: 379px;
    right: 0vh ;
    background-color:#18181c;
    z-index: -1;
}


#aboutHeader {
    color: white;
    padding-top: 70px;
}

#about {
    color: white;
    padding-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


.header {
    margin-top: 170px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}


/* Псевдоэлемент для кислотного абстрактного фона */
.abstBack {
    background: linear-gradient(45deg, #ff00ff, #00ff00, #00ffff, #ff0000);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: acidColor 6s infinite linear;
}

/* Анимация градиента */
@keyframes acidColor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


