.projectBlock {
    position: relative;
    background-color: #1a1a21;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
    width: 70%;
    height: 650px;
    margin-top: 80px;
    border-radius: 15px;
    padding: 50px;
    /* block-size: fit-content; */
    /* min-height: 830px; */
    overflow: clip;
    transform-origin: top center;
    transition: transform 55s ease;
    transition: margin-bottom 55s ease;
    transition: height 1s ease;

}

.projectBlockHeader {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.projectText {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    line-height: 28px;

}

.projectDemoBlock {
    /* background-color: #0000ff08; */
    width: 100%;
    height: 400px;
    block-size: fit-content;
    /* display: inline-block; */
}

.projectDemoBlock:not(:last-child) {
    margin-right: 3.5%;
}

.projectVideo {
    width: 100%;
    height: 69.25%;
    /* background-color: red; */
    margin-top: 20px;
}

video {
    object-fit: fill;
    border-radius: 20px;
}

.projectBlockFooter {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #1a1a21;
    bottom: 0;
    color: rgb(149, 149, 149);
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 70px;
}

.projectBlockFooter:hover {
    color: rgb(255, 255, 255);
}

.badge {
    margin-top: 6px;
    margin-right: 4px;
}